footer {
    background-color:#353535;
    color: white;
    padding-bottom: 20px;

    h2 {
        font-family: Shrikhand;
        font-size: 16px;
        font-weight: 500;
        margin-left: 40px;
        padding-top: 20px;
    }

    ul {
        list-style: none;

        li {
            padding: 5px;

            a {
                color: white;

                i {
                    margin-right: 10px;
                }
            }
        }
    }
}