header {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        font-family: Shrikhand;
        font-weight: 300;
    }
    
    i {
        position: absolute;
    left: 40px;
    top: 40px;
    }
}