main {
    display: flex;
    flex-direction: column;

    .main_image {
        img {
            width: 100%;
        }
    }

    .main_container {
        background-color: #F6F6F6;
        border-radius: 40px 40px 0px 0px;
        margin-top: -40px;
        margin-bottom: -15px;

        .menu1_title {
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-family: Shrikhand;
            font-weight: 700;
            font-size: 17px;
            margin-left: -15px;
        }

        .menuMain {
            margin-left: 15px;

            &>h2 {
                font-weight: 100;
                font-size: 18px;
                border-bottom: 3px solid #99E2D0;
                width: 40px;
                height: 25px;
            }

            .menuContainer {
                display: flex;
                background-color: white;
                border-radius: 20px;
                width: 95%;
                overflow: hidden;
                margin-bottom: 15px;

                .menuContainer_title {
                    width: 75%;
                    padding: 15px 0px 15px 10px;

                    h2 {
                        font-size: 16px;
                        margin: 0px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }

                    p {
                        margin: 0;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-size: 15px;
                    }
                }

                .price {
                    display: flex;
                    align-items: flex-end;
                    font-weight: 700;
                    padding-left: 25px;
                }

                .check {
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #99e2d0;
                    width: 40px;
                    height: 69px;
                    color: white;
                    margin: 0px -150px 0px 80px;
                    font-size: 20px;
                }
            }
        }
    }
}