// MEDIA QUERY MENUPAGES

// TABLET
@media screen and (min-width: 600px) and (max-width:1025px) {
    main {
        .main_image {
            display: flex;
            justify-content: center;

            img {
                width: 600px;
                height: 250px;
                object-fit: cover;
            }
        }

        .main_container {
            max-width: 550px;
            width: 550px;
            margin: auto;
            margin-top: -40px;
            margin-bottom: -13px;
        }
    }
}

// TABLET&LAPTOP
@media screen and (min-width: 1024px) and (max-width:1440px) {
    main {
        .main_image {
            display: flex;
            justify-content: center;

            img {
                width: 1024px;
                height: 350px;
                object-fit: cover;
            }
        }

        .main_container {
            max-width: 980px;
            width: 980px;
            margin: auto;
            margin-top: -40px;
            margin-bottom: -13px;

            .menu1_title {
                margin: 10px 20px 0px 20px;
            }

            .all_menuMain {
                display: flex;
                justify-content: center;

                .menuMain {
                    width: 30%;
                    min-width: 30%;
                    margin: 15px;

                    .menuContainer {
                        width: 100%;
                    }
                }
            }
        }
    }
}

// DEKSTOP
@media screen and (min-width: 1440px) {
    main {
        .main_image {
            display: flex;
            justify-content: center;

            img {
                width: 1440px;
                height: 450px;
                object-fit: cover;
            }
        }

        .main_container {
            max-width: 1150px;
            width: 1150px;
            margin: auto;
            margin-top: -40px;
            margin-bottom: -13px;

            .menu1_title {
                margin: 10px 45px 0px 45px;
            }

            .all_menuMain {
                display: flex;
                justify-content: center;
                width: 1100px;
                margin: auto;

                .menuMain {
                    width: 30%;
                    min-width: 30%;
                    margin: 15px;

                    .menuContainer {
                        width: 100%;
                    }
                }
            }
        }
    }
}