body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    padding: 2%;
}


/* HEADER */

header {
    display: flex;
    justify-content: space-between;
}


/* NAV */

nav {
    width: 30%;
    margin-right: 50px;
}

nav ul {
    display: flex;
}

nav li {
    padding: 5%;
    list-style: none;
    width: 33%;
}

nav a {
    text-decoration: none;
    color: black;
}

.nav_link a {
    padding: 58px 30px 0 30px;
}

.nav_link_signin a {
    font-weight: bold;
    color: #0065FC;
    padding-top: 58px;
}

.nav_link a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

/* MAIN */
/* ContainerMain */

/* search */
.container_search button {
    background-color: #0065FC;
    color: white;
    border: 1px solid #0065FC;
    border-radius: 0px 10px 10px 0px;
    font-weight: bolder;
    height: 40px;
}

.container_search input {
    border: 1px solid #F2F2F2;
    height: 40px;
    margin-right: -10px;
}


input::placeholder {
    font-weight: bolder;
    color: black;
}

.container_search {
    display: flex;
    justify-content: start;
}

.container_search>div {
    height: 40px;
    width: 40px;
}

.container_search i {
    border: 1px solid #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
    width: 40px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* filters */

.container_filters {
    font-weight: bolder;
    display: flex;
    margin-top: 30px;
}

.container_filters a {
    text-decoration: none;
    color: black;
}

.container_filters a:hover {
    transform: scale(1.05);
    color: #0065FC;
}

.filters {
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    padding-right: 20px;
}

.container_filters i {
    background-color: #deebff;
    border-radius: 50px;
    color: #0065FC;
    padding: 15px;
    min-width: 15px;
    text-align: center;
}

.filters p {
    padding-left: 10px;
    height: 10px;
    display: flex;
    align-items: center;
}

/* info */
.container_info {
    display: flex;
    align-items: center;
    margin-top: 20px;

}

.container_info i {
    color: #0065FC;
    font-size: 12px;
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    text-align: center;
    padding: 6px;
    width: 12px;
    margin-right: 10px;

}


/* HOSTING */
#hosting {
    width: 100%;
    display: flex;
}

#hosting a {
    text-decoration: none;
    color: black;
}

.fa-star {
    color: #0065FC;
}

.hosting_marseille {
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 65%;
    margin-right: auto;
}

.hosting_marseille h2 {
    padding-left: 5%;
}

.hosting_figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.hosting_figure figure {
    margin: 0px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
}

.hosting_figure a {
    width: 30%;
    padding-bottom: 20px;
}

.watch_more
{    font-size: larger;
    margin-left: 30px;}

.hosting_figure img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.hosting_figure figcaption {
    position: relative;
    bottom: 30px;
    height: 30px;
    background-color: white;
}
.hosting_figure h4,
.hosting_figure p {
    margin: 0px;
}

.popularity {
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 33%;
}

.popularity_title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bolder;
}

.popularity_title i {
    font-size: 20px;
}

.popularity_figure {
    background-color: white;
    border: 6px solid white;
    box-shadow: 5px 5px 15px #cecece;
    border-radius: 20px;
    height: 150px;
    display: flex;
}

.popularity_figure figcaption {
    margin-left: 5%;
}

.popularity_figure img {
    width: 40%;
    height: 150px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}


/* ACTIVITY */

.activity_container a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.activity_figure img {
    border-radius: 20px;
    box-shadow: 10px 5px 15px #cecece;
    width: 280px;
    height: 100%;
    object-fit: cover;
}

.activity_figure {
    margin: 0px;
    height: 100%;
}

.activity_figure figcaption {
    position: relative;
    bottom: 60px;
    height: 60px;
    width: 280px;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    align-items: center;

}

.activity_container h4 {
    padding-left: 5%;
}

.activity_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px 10px;
    grid-template-areas:
        "big1 small1 big2 small3"
        "big1 small2 big2 small4";
}

.big1 {
    grid-area: big1;
}

.big2 {
    grid-area: big2;
}

.small1 {
    grid-area: small1;
    height: 200px;
}

.small2 {
    grid-area: small2;
    height: 200px;
}

.small3 {
    grid-area: small3;
    height: 200px;
}

.small4 {
    grid-area: small4;
    height: 200px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 2% 3%;
}

.footer_content {
    width: 40%;
}

footer a {
    text-decoration: none;
    color: black;
}