.menuContainer {
    cursor: pointer;
    .check {
        transition: 0.5s;
    }
    &:hover {
        .check {
            margin: 0px!important;
            transition: 0.5s;
            i {
                animation: rotate 1s;
            }
        }
        
        .menuContainer_title {
            width: 50% !important;
            min-width: 50% !important;
        }
    }
}